# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node/React
node_modules/
dist/
.DS_Store

# Docker
.dockerignore

# Azure/VSCode
.vscode/

# Project Specific
meetings.db
uploads/
simulate_esp32.py
