fastapi==0.115.6
uvicorn==0.30.6
python-multipart==0.0.12
openai==1.59.7
python-dotenv==1.0.1
sqlalchemy
pyodbc
azure-storage-blob
azure-cognitiveservices-speech
requests
azure-ai-textanalytics>=5.3.0
azure-core>=1.30.0
azure-monitor-opentelemetry>=1.6.0
